#elevator {
    position: relative;
    width: 13em;
    height: 21em;
    background-color: gray;
    padding: 1em;
}
#floors .buttons {
    float: left;
    padding-top: 2em;
}
#car {
    position: absolute;
    bottom: 0;
    left: 7em;
    width: 6.5em;
    border: 3px solid black;
    background-color: saddlebrown;
}
#car .buttons {
    float: right;
    padding-top: 0.5em;
}
.buttons button {
    display: block;
}
#car > * {
    display: inline-block;
}
.door-frame {
    position: relative;
    width: 3em;
    height: 6em;
    margin: 0.5em;
    border: 2px solid black;
    overflow: hidden;
}
.door-frame .door {
    position: absolute;
    width: 3em;
    height: 6em;
    background-color: blue;
}
.buttons {
    margin: 0.25em;
}
