#elevator {
    position: relative;
    padding: 2em;
}
#floors {
    display: block;
    position: relative;
    width: 280px;
}
floor {
    display: block;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    height: 120px;
    width: auto;
    position: relative;
}
#floor-3 {
    border-top: 2px solid black;
}
.door-frame {
    position: relative;
    top: 18px; /* less bottom floor border */
    height: 100px;
    width: 50px;
    margin-left: 4em;
    border: 2px solid black;
    border-bottom: none;
    overflow: hidden;
}
door {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 100px;
}
floor .buttons {
    float: left;
    padding-left: 1em;
    padding-top: 2em;
}
.buttons button {
    display: block;
    margin-top: 0.25em;
    background-color: white;
}
floor span, car span {
    position: absolute;
    padding: 0.1em;
}

/* COLORS */
#elevator {
    background-color: lightcyan;
}
floor {
    background-color: burlywood;
}
door {
    background-color: sienna;
}
car {
    background-color: cadetblue;
}
/* make these match what the open door exposes */
floor .door-frame {
    background-color: cadetblue;
}
car .door-frame {
    background-color: burlywood;
}

car {
    position: absolute;
    bottom: 0;
    left: 130px;
    display: block;
    width: 130px;
    height: 120px;
    border: 2px solid black;
}
car .door-frame {
    margin-left: 1em;
    margin-right: 3em;
}
car .buttons {
    float: right;
    padding-top: 2em;
    padding-right: 1em;
}
